/* Should style box that holds picture, but IDK*/
.box {
  height: 100;
  width: 100;
  padding: 20;
  margin: 50;
  border: 10 solid black;
}

.top_header {
  color: hsla(0, 95%, 75%, 0.7);
  /* color: red; */
}
